<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/alura-java-parte-6-conhecendo-o-java.util/src/bytebank_herdado_conta/br/com/bytebank/banco/test/util/TesteArrayLinkedListJavaUtil.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bytebank_herdado_conta.br.com.bytebank.banco.test.util.TesteArrayLinkedListJavaUtil"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="1&#13;&#10;2&#13;&#10;3&#13;&#10;4&#13;&#10;1&#13;&#10;123&#13;&#10;213&#13;&#10;12&#13;&#10;3123&#13;&#10;12&#13;&#10;3123"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="alura-java-parte-6-conhecendo-o-java.util"/>
</launchConfiguration>
